#header_logo {
    position: absolute;
    left: 0;
    top: 10px;
    z-index: 1;
    }
h2 { 
    color: rgb(255, 0, 0);
}
* {
   margin:0;
   padding:0;
   box-sizing:border-box;
}
body {
    background-color: black
}

h1 {
color: rgb(255, 0, 0);
font-family: 'Germania One', cursive;
font-size: 70px;
letter-spacing: 30px;
}

footer {
    background-color:rgb(255, 0, 0);
    color: rgb(0, 0, 0);
    padding: 6px;
    position: static;
    bottom: 0;
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-rows: auto;
}
@media (max-width: 480px) {
    .footer-index{
        
    }
}
.Textofooter{
    text-align: right;
    margin-right: 5px;
    display: grid;
    flex-direction: column-reverse;
}


.navi{
    display: table-row;
    background-color: rgb(255, 0, 0);
    justify-content: space-between;
    justify-content: right;
    align-items: center;
    padding: 5px;
}
.nav{
    display: table-row;
    background-color: rgb(255, 0, 0);
    justify-content: space-between;
    justify-content: right;
    align-items: center;
    padding: 50px;
}

.barra{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
    font-size: 250%;
}
.nav_links{
    display: flex;
    -webkit-text-stroke: 1px black;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
.direcciones{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
align-items: baseline;
gap: 1rem;
}
html{
    height:-webkit-fill-available;
}
body {
    margin-bottom: 30%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height:-webkit-fill-available;
}
*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}
.row{
    display: flex;
    padding: 5px;
    flex-wrap: wrap;
}
.column{
    flex: 25%;
    padding: 5px;
}
.column img{
    margin-top: 5px;
}
@media (max-width: 800px) {
    .column{
        flex: 50%;
    }
}
@media (max-width: 600px) {
    .column{
        flex: 100%;
    }
}
@media screen and(min-width:350px){
    body{
        background-color:rgba(0, 0, 0, 0.637);
        font-size: 100%;
   }
      h1 span ::before {
        content: "telefono";
        }
   }
   @media screen and (min-width:700px){
    body{
        background-color:rgb(0, 0, 0);
   }
     h1 span ::before {
        content: "tablet";
}
    
   }
   @media screen and (min-width:1100px){
    body{
        background-color:rgb(0, 0, 0);
   }
      h1 span ::before {
        content: "desktop";
}
    
   }
.contenedor-flex{
display: flex;
flex-direction: column;
color: rgb(255, 255, 255);
justify-items: center;
font-size: 30px;
padding:200px;
border: 6px solid rgb(255, 0, 0);
line-height: 100%;
}

.texto{
    color: rgb(255, 255, 255);
}

.FAMILIA{
    text-align: center;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    justify-items: center;
    font-size: 30px;
    padding: 200px;
    border: 6px solid rgb(255, 0, 0);
    line-height: 130%;
}
.family{
    text-align: center;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    justify-items: center;
    font-size: 30px;
    line-height: 130%;
}
@media (max-width: 480px) {
    .Textofooter{
        display: flex;
        flex-direction: row;
    }
}

.HISTORIA{
    text-align: center;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    justify-items: center;
    font-size: 30px;
    padding: 200px;
    border: 6px solid rgb(255, 0, 0);
    line-height: 130%;
}

.MATERIALES{
    text-align: center;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    justify-items: center;
    font-size: 30px;
    padding: 200px;
    border: 6px solid rgb(255, 0, 0);
    line-height: 130%;
}
.MECANISMO{
    text-align: center;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    justify-items: center;
    font-size: 30px;
    padding: 200px;
    border: 6px solid rgb(255, 0, 0);
    line-height: 130%;
}
.FAMILIA {
    text-align: center;
    display: flex;
    flex-direction: column;
    color: rgb(255, 255, 255);
    justify-items: center;
    font-size: 30px;
    padding: 200px;
    border: 6px solid rgb(255, 0, 0);
    line-height: 130%;
}